body {
  margin: 0;
  text-align: center;
  background-color: rgb(97, 93, 93);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

.post {
  color: white;
  border: 5px solid black;
}

#posts {
  background-color: rgb(46, 46, 143);
}

nav {
  background-color: aquamarine;
  height: 5vh;
  text-align: left;
  text-align: justify;
  padding-top: 20px;


}

.link {
  font-size: larger;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.userPost {
  font-size: 20px;
}

.postDetails {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.postForm {
  border: 10px solid black;
}

.posts {
  display: grid;
}