body {
  margin: 0;
  text-align: center;
  background-color: rgb(209, 136, 0);
}

.post {
  color: white;
  border: 5px solid black;
  background-color: chocolate;
  border-radius: 5px;
}

#posts {
  display: grid;
  gap: 10px;
  background-color: rgb(46, 46, 143);
  padding: 20px;
  margin: 35px;
  margin-left: 200px;
  margin-right: 200px;
  border: 10px solid black;
  border-radius: 10px;
}

nav {
  background-color: chocolate;
  height: 5vh;
  text-align: left;
  text-align: justify;
  padding-top: 20px;
  border: 5px solid white;


}

.link {
  font-size: larger;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;


}

.userPost {
  font-size: 20px;
}

.postDetails {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.postForm {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;

}

.posts {
  display: grid;
}

.main {
  display: grid;

}

.postMessage {
  font-size: larger;
}

.details {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment {
  display: grid;
  gap: 1px;
  background-color: chocolate;
  padding: 10px;
  margin: 35px;

  border: 10px solid black;
  border-radius: 10px;
  font-size: x-large;
}

.commentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30vw;
  height: 30vh;
  border: 5px solid black;
  margin-top: 5px;
  border-radius: 5px;
  background-color: chocolate;

}

.postBlock {
  border: 10px solid black;
  margin-left: 500px;
  margin-right: 500px;
  background-color: cornflowerblue;
  border-radius: 5px;
  margin-top: 10px;

}

.commentDiv {
  display: grid;
  align-items: center;
  justify-items: center;

}